@import url(https://fonts.googleapis.com/css?family=Amaranth:400,700);



body {
	background-color: #9DD3CE;
	width: 940px;
}


.title-section
{
	background:#ff6a00;
	margin:20px;
	font-size:24px;
	padding:40px 10px;
}
#main_content
{
		margin:20px;
	background:#ecf181;
	color:#1b894c;
	padding:20px 10px 50px;

}


.guess-display
{
	margin-left:20px;
		vertical-align:top;
	background:#1b894c;
	padding:10px 10px 60px;
	display:inline-block;
	width:200px;
	height:40px;
}
.win-lose-display
{
		margin-left:2px;
		vertical-align:top;
	background:#13eec6;
	padding:10px 10px 60px;
	display:inline-block;
	width:100px;
	height:40px;
	
}
.gem
{
	background:#fff;
	display:inline-block;
	margin-right:4px;
	border:1px solid #DDD;
}
.gem1{
	margin-left:20px;
	margin-top:20px;
}

.total-score
{
	margin-top:20px;
		margin-left:20px;
		background:#5188bd;
		padding:10px;
			width:200px;
				color:#FFF;
				margin-bottom:6px;
}

.score-board
{
	margin-left:20px;
		vertical-align:top;
	background:#5188bd;
	padding:10px 10px 60px;
	width:200px;
	height:40px;
	color:#FFF;
}